
.content{
    padding: 30px;
    background-color: white;
    font-size: 18px;
    margin-left: 40px;
}


.content h4{
    font-weight: bold;
    color: midnightblue;
    font-size: 20px;
    margin: 0;
}