
.the-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    height: 130px;
}

.logo{
    position: absolute;
    alignment: left;
    color: darkblue;
    margin-left: 70px;
    font-weight: bolder;
    text-align: left;
    line-height: 150px;
    font-size: 60px;
}
