
.subheading{
    font-weight: bold;
    color: midnightblue;
    font-size: 20px;
    margin-left: 70px;
}

.secondary-text{
    background-color: white;
    font-size: 18px;
    margin-left: 70px;
}

.text-button{
    position: absolute;
    color: darkblue;
    margin-left: 155px;
    border: none;
    background-color: transparent;
    top: 630px;
    font-size: 17.5px;
}

