
.the-footer{
    background-color: whitesmoke;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-separator{
    color: silver;
}

.sep-one{
    color: silver;
}