
.the-footer{
    background-color: whitesmoke;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-button{
    background-color: transparent;
    color: darkblue;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 40px;
}

.footer-separator{
    color: silver;
    margin: 0 40px;
}